.content{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.headersP{
    color: #fff;
}

.selects{
    position: relative;
    background-color: black;
    color: #fff;
    border: thin solid rgb(80, 30, 30);
    border-radius: 4px;
    /* border-color: teal; */
}

.selects option{
    color: #fff;
}

.selects:focus{
    border: 3px solid teal;
    /* transform: translateY(-4%); */
    transition: all 0.3s ease;
}

